@media screen and (max-width: 855px) {
  .containerSoonSendOrder {
    width: auto;
    height: auto;
  }
}

.containerSoonSendOrder h2 {
  width: 171px;
  height: 31px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  text-align: center;
  color: #1b0410;
}
.containerSendOrder p {
  width: 607px;
  height: 42px;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #53464d;
}
