*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  background-color: #F3F2F2;
}

/*  html, img, video, iframe { filter: invert(1) hue-rotate(180deg) }  */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .containerCartaPrincipal{
  display: grid;
  gap: 1rem;
  margin: 0px 110px;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(400px, 350px));
  margin-bottom: 80px;
} */

/* .contanedorimagen_carta{
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerCartaInterna img{
  max-width: 380px;
  width: 100%;
  height: 210px;
} */
/* @media screen and (max-width:1279px){
  .containerCartaPrincipal{
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    margin:0px 15px;
    margin-bottom: 80px;
  }
  .inputSearch{
margin-top: 17px;
  }
}  */

/* @media screen and (max-width:968px){
  .containerCartaPrincipal{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
} */
/* @media screen and (max-width:525px){
  .containerCartaPrincipal{
    margin:0px 20px;
    margin-bottom: 130px;
  }
  .containerCartaInterna{
    display: grid;
    grid-template-columns: 110px 1fr;
  }
  .containerCartaInterna img{
    height: 110px;
    width: 110px;
  }
}  */

