@font-face {
    font-family: Cera-Pro-Bold;
    src: url("/public/font/Cera\ Pro\ Bold.otf");
}
@font-face {
    font-family: Cera-Pro-Regular;
    src: url("/public/font/Cera\ Pro\ Regular.otf");
}
.bold_carta{
font-family: Cera-Pro-Bold;
color: #282636;
}
.regular_carta{
    font-family:Cera-Pro-Regular ;
    color: #5E5C66;
}

