@font-face {
    font-family: Cera-Pro-Regular;
    src: url("/public/font/Cera\ Pro\ Regular.otf");
}
@font-face {
    font-family: Cera-Pro-Bold;
    src: url("/public/font/Cera\ Pro\ Bold.otf");
}
@font-face {
    font-family: Cera-Pro-Medium;
    src: url("/public/font/Cera\ Pro\ Medium.otf");
}