
.ContainerFaShopp {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}



.ContainerFaShopp h1{
  font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #302129;
margin-bottom: 10px;
}

.ContainerFaShopp h1 span{
  font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;  
color: #E63C19;

}

