.barra-categorias{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 0 20px;
}

@media screen and (min-width:1920px) {
    .categorias-container {
        margin: auto;
    }
 }
