

@media screen and (min-width:360px) {
   div .imagen_header{
        background-image: url("/public/media/ImagenHome.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 120px;
        height: 120px;
        position: relative;
        left: 36%;
        top: 30px;
    } 
}

@media screen and (min-width:1280px) {
    div .imagen_header{
         background-image: url("/public/media/ImagenHome.svg");
         background-size: contain;
         background-repeat: no-repeat;
         width: 177.37px;
         height: 152.92px;
         position: relative;
         left: 20%;
         top: 30px;
     } 
 }

 @media screen and (min-width:1920px) {
    .max-descripcion-container {
        margin-left: 190px;
    }
 }


 @font-face {
    font-family: Cera-Pro-Regular;
    src: url("/public/font/Cera\ Pro\ Regular.otf");
}
@font-face {
    font-family: Cera-Pro-Bold;
    src: url("/public/font/Cera\ Pro\ Bold.otf");
}
@font-face {
    font-family: Cera-Pro-Medium;
    src: url("/public/font/Cera\ Pro\ Medium.otf");
}
.bold{
    font-family: Cera-Pro-Bold;
    color: #282636;
}
.regular{
    font-family: Cera-Pro-Regular;
    color: #5E5C66;
}
.sub_titulo{
    color: #4B485B;
    font-family: Cera-Pro-Medium;
}